/*for path*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

body {
  height: 100%;
  background-color: #fbfbfb;
  font-family: "Lato", "Helvetica", sans-serif;
}

.top_header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 70px;
  z-index: 99;
  background-color: #f15a26;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.header_container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.logo_container {
  height: 60px;
  width: 100%;
  vertical-align: middle;
  margin: 5px 21px;
}
.logo_container2 {
  height: 60px;
  width: 200px;
  margin: auto;
}
.header_logo {
  width: 170px;
  margin: 10px auto 0;
}

.menu_container {
  height: 60px;
  left: 75px;
  width: 100%;
  float: left;
  margin: 0 10px;
  position: absolute;
}
.menu_logo {
  height: 35px;
  margin: 12px auto;
}

.sign_container {
  height: 14px;
  width: 72px;
  right: 400px;
  position: absolute;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
  padding: 10px;
  margin: 16px 10px;
  text-align: center;
  z-index: 100;
  vertical-align: middle;
}

.sign_container:hover {
  background-color: white;
  color: #F15A26;
}

.b_button {
  height: 14px;
  width: 60px;
  border: 2px solid #F15A26;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
  z-index: 100;
  margin: 10px -3px;
  display: inline-block;
  background-color: #F15A26;
  cursor: pointer;
}

.p_button {
  height: 14px;
  width: 60px;
  border: 2px solid #F15A26;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #F15A26;
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
  z-index: 100;
  margin: 10px -3px;
  display: inline-block;
  cursor: pointer;
}

.b_button:hover {
  background-color: #F15A26;
  color: white;
}
.p_button:hover {
  background-color: #F15A26;
  color: white;
}



.sidebar {
  float: left;
  width: 250px;
  min-height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 97;
  background-color: #333333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding-top: 95px;
  border-right: 5px solid #f9b69f;
}


.sidebarpic {
  margin: 100px 22px;
  width: 205px;
}

.batter_list1 {
  padding: 0px;
  list-style: none;
  width: 50px;
  margin: auto;
  position: absolute;
  left: 28px;
}

.batter_list2 {
  padding: 0px;
  list-style: none;
  width: 50px;
  margin: auto;
  position: absolute;
  right: 68px;
}

.player_circle {
  margin: 7px 5px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 4px solid #e6e6e6;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
.player_circle:hover {
  border: 4px solid #F15A26;
  background-color: #F15A26;
  transition-delay: 1s; /* delays for 1 second */
  -webkit-transition-delay: 1s; /* for Safari & Chrome */
}



.lower_header {
  top: 70px;
  left: 0;
  right: 0;
  height: 100px;
  position: fixed;
  z-index: 92;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cccccc;
}


select {
  margin-top: 100px;
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
}
.poster_section {
  margin: 100px auto;
  margin-left: 300px;
  max-width: 1000px;
}

.poster_image {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 1000px;
}


.graph {

}


h1 {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 4em;
  font-weight: 300;
  color: white;
  margin: 0;
}

h3 {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  margin: 0 0 0 7px;
}
