/*for path*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

body {
  height: 100%;
  background-color: #f5f8fa;
  font-family: "Lato", "Helvetica", sans-serif;
}

.top_header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 70px;
  z-index: 99;
  background-color: white;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.header_container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.logo_container {
  height: 60px;
  width: 100%;
  vertical-align: middle;
  margin: 5px 0;
}
.logo_container2 {
  height: 60px;
  width: 170px;
  margin: auto;
}
.header_logo {
  width: 170px;
  margin: 10px auto 0;
}

.menu_container {
  height: 60px;
  left: 70px;
  width: 100%;
  float: left;
  margin: 0 10px;
  position: relative;
}
.menu_logo {
  height: 35px;
  margin: 12px auto;
}

.sign_container {
  height: 20px;
  width: 72px;
  border: 2px solid #F15A26;
  border-radius: 5px;
  color: #F15A26;
  font-size: 1em;
  float: right;
  padding: 10px;
  margin: 10px 15px;
  text-align: center;
  z-index: 100;
}

.sign_container:hover {
  background-color: #F15A26;
  color: white;
}

.sidebar {
  float: left;
  width: 250px;
  min-height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 97;
  background-color: #F15A26;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

select#select-list {
  margin-top: 100px;
}
.poster_section {
  margin: 100px auto;
  margin-left: 300px;
  max-width: 1000px;
}

.poster_image {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 1000px;
}

.sidebar {
    float: left;
    width: 250px;
 -  background: #ccc;
    min-height: 100%;
 -
    top: 0;
    left: 0;
    position: fixed;
 -  z-index: 99;
 -  background-color: #fcdacf;
 +  z-index: 97;
 +  background-color: #F15A26;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }



h1 {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 4em;
  font-weight: 300;
  color: white;
  margin: 0;
}

h3 {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  margin: 0 0 0 7px;
}
